.header {
    padding: 20px 0;
    background-color: #fff;
}

.header__inner {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    position: relative;
}

.header__title {
    margin: 0;
    color: #9f876e;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    width: 100%;
    font-family: 'Libre Baskerville',
        serif;
}

/* ログインボタンのスタイル */
.header__btn {
    position: absolute;
    right: 0;
    font-size: 13px;
    padding: 2px 20px;
    color: #bba9a9;
    text-decoration: none;
    border: 1px solid #bba9a9;
    background-color: #f4f2f2;
    font-family: 'Libre Baskerville',
            serif;
}
